@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    
    --font-family: font-family: 'Manrope', sans-serif;
    --font-size: 13px;
    --weight-normal: 500;
    --weight-bold: 700;
  }
}
